*.csproj.user
*.suo
bin/
obj/
Debug/
.vs/
emulatorLauncher/*.csproj.user
emulatorLauncher/*.suo
emulatorLauncher/bin/
emulatorLauncher/obj/
emulatorLauncher/Debug/
emulatorLauncher/.vs/
emulatorLauncher/EmulationStation/