html, body { 
	margin:0px; 
	padding:0px; 
	font-family: Open Sans, sans-serif; 
	font-size:12pt;
	height:100%;
	overflow:hidden;
}

.title { 
	color:#ffffff;
	background-color:#000000; 	
	padding:4px 8px;
	text-align: left;
	font-size:16pt;
}

.toolbar {
	background-color:#000000;
}

.toolbarbutton {
	color:white;
	background-color:#304070FF;
	border:none;
	font-size:12pt;
	padding:6px 8px;
	cursor: pointer;
	border-radius: 10px;
}


.toolbarbutton:hover {
	background-color:#00ff0071;
}

.systemlist {
	color:white;
	background-color:#000000; 
	overflow-y:scroll;
}

.system:hover {
	background-color:#303030;
}

.gamelist {	
	color:white;
	background-color:#000000; 
	overflow-y:scroll;
}

.game:hover {
	background-color:#303030;
}

.desc { 
	color:#A0A0A0; 	
	font-size:8pt;
	text-overflow: ellipsis;
	overflow: hidden;
	height:22pt
}

.playitBtn {
	background-color: #304070FF;
	cursor: pointer;
	font-size: 0.9em;
	
	border: solid 1px #00ff0071;
	padding: 3px 8px;
	border-radius: 4px;
}

.playitBtn:hover {
	background-color: #00ff0071;
}

.playitBtn:active {
	background-color: #00ff00bd;
}

::-webkit-scrollbar {
	width: 0;
  }