[submodule "bios"]
	path = bios
	url = https://github.com/RetroBat-Official/retrobat-bios
[submodule "system/decorations"]
	path = system/decorations
	url = https://github.com/RetroBat-Official/retrobat-bezels
[submodule "launcher"]
	path = launcher
	url = https://github.com/RetroBat-Official/retrobat-mfa-launcher
[submodule "system/tattoos"]
	path = system/tattoos
	url = https://github.com/RetroBat-Official/retrobat-tattoos