System requirements

- Supported OS: Windows 11, Windows 10, Windows 8.1.
- Processor: CPU with SSE2 support. Two or more cores, 3GHz or faster, 2008 or later. Intel Core i3 / Core i5 / Core i7 / Core i9 recommended, AMD Ryzen also recommended
- Video card: Modern, with Direct3D 11.1 / OpenGL 4.4 / Vulkan support

Dependencies

- Visual C++ 2005-2022 Redistributable Packages (32 and 64 bit)
- DirectX
- .NET Framework 6.0 Desktop Runtime (optional)
- .NET Framework 7.0 Desktop Runtime (optional)

More information can be found on the project's GitHub: https://github.com/TheDayG0ne/ProjectArcade
